@page "list"
@model TaskManagement.Pages.Task.ListTasks
@{
    ViewData["Title"] = "ListTasks";
}

<h1>@ViewData["Title"]</h1>

<div>
     @* @foreach (var item in @Model.Tasks)
    {
        @if (@item == null)
        {
        <h2>
            "suman"
        </h2>
            
        }
        else
        {
            <h1>@item.Title</h1>
        }
       
    } *@
</div>